---
weight: 1
---

<%= partial 'documentation/partials/google_tag_manager_js' %>

# CTC Traders Service Guide

Version 1.0 issued 13 November 2025
***

## Service overview
<%= partial 'documentation/partials/ctc-traders-api-service-guide/service_overview' %>

## API overview
<%= partial 'documentation/partials/ctc-traders-api-service-guide/api_overview' %>

## Pre-requisites (NCTS subscription)
<%= partial 'documentation/partials/ctc-traders-api-service-guide/pre_requisites' %>

## Getting started
<%= partial 'documentation/partials/ctc-traders-api-service-guide/getting-started/root' %>

### Trader data
<%= partial 'documentation/partials/ctc-traders-api-service-guide/getting-started/trader_data' %>

### First-time Users
<%= partial 'documentation/partials/ctc-traders-api-service-guide/getting-started/first_time_users' %>

### Existing Users
<%= partial 'documentation/partials/ctc-traders-api-service-guide/getting-started/existing_users' %>

## High level functional interaction map
<img src="../figures/e2e.drawio.svg" alt="Declaration amendment accepted/rejected. Flow is described in this section." />

<a href="../figures/e2e.drawio.svg" target="_blank">Open the diagram in a new tab.</a>

## API Definitions
<%= partial 'documentation/partials/ctc-traders-api-service-guide/api_definitions' %>



